/**
 * Variables
 */

// import custom fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800");

// grayscale
@function grayscale($key) {
  @return map-get($grayscale, $key);
}
$grayscale: () !default;
$grayscale: map-merge(
  (
    "white": #ffffff,
    "gray-1": #f9f9fb,
    "gray-2": #f3f3f7,
    "gray-3": #eaeaef,
    "gray-4": #bfbfc6,
    "gray-5": #9d9da6,
    "gray-6": #7b7a86,
    "gray-7": #363545,
    "gray-8": #262533,
    "gray-9": #1b1a26,
    "black": #000000
  ),
  $grayscale
);

// brand colors
@function brand-color($key) {
  @return map-get($brand-colors, $key);
}
$brand-colors: () !default;
$brand-colors: map-merge(
  (
    "brand-1": #002d5b,
    "brand-2": #005f9e,
    "brand-3": #009ad9,
    "brand-4": #00437b,
    "brand-5": #ffbe00,
    "ui-1": #0d6aa8,
    "ui-2": #cfe1ee
  ),
  $brand-colors
);

// emotive colors
@function emotive-colors($key) {
  @return map-get($emotive-colors, $key);
}
$emotive-colors: () !default;
$emotive-colors: map-merge(
  (
    "default": brand-color("ui-1"),
    "danger": #f57362,
    "success": #c0f57a,
    "warning": #fff172
  ),
  $emotive-colors
);

// create color palette map
@function color($key) {
  @return map-get($color-palette, $key);
}
$color-palette: map-collect($brand-colors, $emotive-colors, $grayscale);

// type colors
@function type-color($key: "normal") {
  @return map-get($type-colors, $key);
}
$type-colors: () !default;
$type-colors: map-merge(
  (
    "normal": color("gray-7"),
    "inverse": color("gray-1")
  ),
  $type-colors
);

// font weight
@function font-weight($key: "normal") {
  @return map-get($font-weight-scale, $key);
}
$font-weight-scale: () !default;
$font-weight-scale: map-merge(
  (
    "light": 300,
    "normal": 400,
    "bold": 600,
    "extra-bold": 800
  ),
  $font-weight-scale
);

// type scale
@function font-size($key: "base") {
  @return map-get($font-size-scale, $key);
}
$font-size-scale: () !default;
$font-size-scale: map-merge(
  (
    "nano": 12px,
    "micro": 14px,
    "sm": 16px,
    "base": 20px,
    "md": 24px,
    "lg": 28px,
    "xl": 32px,
    "xxl": 36px,
    "huge": 40px,
    "mega": 48px,
    "jumbo": 56px,
    "massive": 80px
  ),
  $font-size-scale
);

// line-height scale
@function line-height($key: "regular") {
  @return map-get($line-height-scale, $key);
}
$line-height-scale: () !default;
$line-height-scale: map-merge(
  (
    "tight": 1.2,
    "regular": 1.4,
    "loose": 1.6
  ),
  $line-height-scale
);

// border radius
@function border-radius($key) {
  @return map-get($border-radius-scale, $key);
}
$border-radius-scale: () !default;
$border-radius-scale: map-merge(
  (
    "none": 0,
    "sm": 0.125rem,
    "md": 0.25rem,
    "lg": 0.5rem,
    "xl": 1rem
  ),
  $border-radius-scale
);

// spacing scale
@function spacing($key) {
  @return map-get($spacing-scale, $key);
}
$spacing-scale: () !default;
$spacing-scale: map-merge(
  (
    "none": 0px,
    "auto": auto,
    "micro": 4px,
    "mini": 8px,
    "xxs": 12px,
    "xs": 16px,
    "sm": 24px,
    "md": 32px,
    "lg": 48px,
    "xl": 64px,
    "xxl": 72px,
    "super": 96px,
    "mega": 120px
  ),
  $spacing-scale
);

// box shadow
@function box-shadow($key) {
  @return map-get($box-shadows, $key);
}
$box-shadows: (
  "none": none,
  1: (
    0 4px 8px 0 rgba(54, 53, 69, 0.1),
    0 4px 8px 0 rgba(54, 53, 69, 0.1)
  ),
  2: (
    0 4px 12px 0 rgba(54, 53, 69, 0.1),
    0 12px 16px 4px rgba(54, 53, 69, 0.05)
  ),
  3: (
    0 8px 24px 0 rgba(54, 53, 69, 0.1),
    0 16px 20px 0 rgba(54, 53, 69, 0.05)
  ),
  4: (
    0 16px 28px 0 rgba(54, 53, 69, 0.05),
    0 16px 40px 0 rgba(54, 53, 69, 0.1)
  )
);

// font family

$font-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "avenir next",
  avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
  sans-serif;
$font-serif: georgia, times, serif;
$font-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

// globals

$body-bg-color: color("white");
$body-font-color: type-color("normal");
$border-radius-base: border-radius("none");
$body-font-family: $font-sans-serif;
$body-font-weight: font-weight("normal");
$selection-highlight-bg: color("brand-3");

// navigation tabs

$nav-tabs-link-color: color("gray-7");
$nav-tabs-link-hover: color("gray-9");
$nav-tabs-border-color: color("gray-7");
$nav-tabs-border-size: 2px;
$nav-tabs-link-bg: transparent;
$nav-tabs-active-link-bg: color("white");
$nav-tabs-font-weight: font-weight("bold");

// pagination

$pagination-hover-border-color: color("gray-2");
$pagination-active-border-color: color("brand-2");

// headers

$header-font-color: color("gray-8");
$header-font-family: "GTAmericaMono", $font-sans-serif;
$header-font-weight: font-weight("extra-bold");

// links

$link-color: color("ui-1");
$link-hover-color: darken($link-color, 10%);
$link-inverse-color: color("ui-2");
$link-inverse-hover-color: darken($link-inverse-color, 10%);
$link-font-weight: font-weight("normal");

// navigation bar

$navbar-height: 72px;
// set to true if using module
$has-universal-navbar: false;
$navbar-universal-height: 32px;
$navbar-bg: color("gray-2");
$navbar-logo-height: 42px;
$navbar-font-size: font-size("micro");
$navbar-link-color: color("gray-8");
$navbar-link-hover: color("gray-6");
$navbar-link-hover-bg: color("gray-0");
$navbar-link-text-transform: uppercase;
$navbar-link-font-weight: font-weight("extra-bold");
$navbar-border-width: 0px;
$navbar-border-color: color("gray-1");
$navbar-menu-icon-color: color("gray-5");

// calculate total navbar height
$total-navbar-height: null;
@if $has-universal-navbar == false {
  $total-navbar-height: $navbar-height;
} @else {
  $total-navbar-height: calc(#{$navbar-height} + #{$navbar-universal-height});
}

// mega menu

$mega-menu-bg: color("gray-2");
// $mega-menu-offset: calc(-1 * #{spacing('mini')});
$mega-menu-offset: 0px;
$mega-menu-type-color: type-color("normal");
$mega-menu-link-color: color("brand-1");
$mega-menu-link-hover: darken($link-color, 10%);

// buttons

$button-colors: () !default;
$button-colors: map-merge(
  (
    1: color("ui-1"),
    2: color("brand-1"),
    3: color("ui-2"),
    4: color("gray-7"),
    5: color("gray-3")
  ),
  $button-colors
);

$button-border-radius: $border-radius-base;
$button-height: 48px;
$button-compact-height: 32px;
$button-font-size: font-size("sm");
$button-font-weight: font-weight("bold");
$button-border-size: 1px;
$button-inverse-bg-color: color("ui-2");
$button-inverse-color: #0d6aa8; // color('brand-2')
$button-outline-text-color: color("brand-1");
$button-outline-border-color: color("brand-1");
$button-outline-hover-color: type-color("inverse");
$button-outline-inverse-text-color: color("ui-2");
$button-outline-inverse-border-color: color("ui-2");
$button-outline-inverse-hover-color: color("brand-2");

// tooltips

$tooltip-bg: color("gray-2");
$tooltip-font-size: font-size("sm");
$tooltip-text-color: type-color("normal");
$tooltip-border-radius: $border-radius-base;

// cards

$card-bg: color("gray-2");
$card-box-shadow: box-shadow(2);
$card-border-radius: $border-radius-base;
$card-border-width: 0px;
$card-border-color: color("gray-3");
$card-font-size: font-size("sm");

// dropdowns

$dropdown-item-font-size: font-size("sm");
$dropdown-border-size: 1px;
$dropdown-border-color: color("gray-7");
$dropdown-border-radius: $border-radius-base;
$dropdown-bg: color("white");
$dropdown-link-color: color("gray-9");
$dropdown-link-hover-bg: color("gray-2");
$drodown-arrow-color: color("gray-6");
$dropdown-no-link-color: color("gray-6");

// panels

$panel-bg: color("white");
$panel-border-color: color("gray-2");

// accordion

$accordion-font-size: font-size("sm");
$accordion-bg: color("white");
$accordion-expanded-bg: color("white");
$accordion-border-width: 0.05rem;
$accordion-border-color: color("gray-4");
$accordion-arrow-color: color("gray-9");

// form inputs

$input-bg: color("gray-1");
$input-height: 48px;
$input-text-color: $body-font-color;
$input-font-size: font-size("sm");
$input-border-radius: $border-radius-base;
$input-border-color: color("gray-7");
$input-border-width: 0.05rem;

$input-label-font-size: font-size("sm");
$input-label-color: color("gray-9");

$input-placeholder-color: color("gray-5");
$input-focus-border-color: color("brand-1");

$input-inverse-bg: color("gray-10");
$input-inverse-text-color: color("gray-4");
$input-inverse-border-color: color("gray-8");

$fieldset-legend-font-size: font-size("sm");
$fieldset-legend-font-weight: font-weight("bold");

$input-disabled-color: color("gray-5");
$input-disabled-border-color: color("gray-5");
$input-disabled-bg: $input-bg;

// checkboxes

$checkbox-border-color: $input-border-color;
$checkbox-fill-color: color("brand-2");

// radio buttons

$radio-border-color: $input-border-color;
$radio-fill-color: color("brand-2");

// tables
$table-font-size: font-size("sm");
$table-header-bg: color("gray-2");
$table-row-bg-even: color("gray-2");
$table-row-bg-odd: transparent;

// modals

$modal-bg: color("white");
$modal-overlay-bg: color("gray-9");
$modal-font-size: font-size("sm");

// alerts

$alert-border-radius: $border-radius-base;
$alert-padding: spacing("sm");

// notifications

$noficiation-bg-color: color("gray-1");
$notification-border-radius: $border-radius-base;

// tree menu

$tree-menu-font-size: font-size("sm");
$tree-menu-link-color: color("gray-5");
$tree-menu-link-hover: color("gray-8");

// viewport breakpoints

$breakpoint-xs: 600px;
$breakpoint-sm: 900px;
$breakpoint-md: 1200px;
$breakpoint-lg: 1800px;

// YIQ contrast colors

$yiq-contrasted-dark-default: type-color("normal") !default;
$yiq-contrasted-light-default: type-color("inverse") !default;
$yiq-contrasted-threshold: 128 !default;
$yiq-debug: false !default;
