.ter-accordion {
  font-size: $accordion-font-size;
  margin-bottom: spacing("sm");
  border-color: $accordion-border-color;
  border-width: $accordion-border-width;
  border-style: solid;
  border-left-width: 0px;
  border-right-width: 0px;
  transition: background 225ms ease-in-out;
  &__heading {
    @include button-reset();
    font-size: $accordion-font-size;
    padding: spacing("xs") spacing("lg") spacing("xs") spacing("sm");
    position: relative;
    display: block;
    text-decoration: none;
    font-weight: font-weight("bold");
    width: 100%;
    text-align: left;
    line-height: line-height("loose");
    &:after {
      @include icon-base();
      content: "\ea47";
      position: absolute;
      color: $accordion-arrow-color;
      top: 50%;
      right: spacing("sm");
      transform: rotate(0deg) translateY(-50%);
      transition: transform 200ms ease-in-out;
      font-size: 16px;
      width: 16px;
      height: 16px;
    }
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
  &__content {
    font-size: $accordion-font-size;
    display: none;
    padding: spacing("xs") spacing("sm");
    p {
      font-size: $accordion-font-size;
    }
  }
  &.is-expanded {
    background: $accordion-expanded-bg;
    .ter-accordion__heading {
      text-decoration: none;
      &:after {
        transform: rotate(90deg) translateX(-50%);
      }
    }
  }
  &.is-shown {
    .ter-accordion__content {
      display: block;
    }
  }
}

.ter-accordion-group {
  margin-bottom: spacing("sm");
  border-bottom: $accordion-border-width solid $accordion-border-color;
  .ter-accordion {
    margin-bottom: 0;
    border-bottom: 0px;
    &:first-child {
      border-bottom: 0px;
    }
    &:last-child {
      border-bottom: 0px;
    }
  }
}
