.ter-breadcrumb {
  &__list {
    @include border-radius(all, small);
    padding: 0;
    margin-top: 0;
    margin-bottom: spacing("xs");
    list-style: none;
    > li + li::before {
      @include icon-base();
      content: "\ea4b";
      color: rgb(204, 204, 204);
      margin: 0 spacing("mini");
      font-size: 12px;
      width: 12px;
      height: 12px;
    }
  }
  &__list-item {
    display: inline-block;
    a {
      text-decoration: none;
    }
  }
}
