/*
 * Terra Design System: v.1.0.0
 * Component: _button.scss
 */

// reset all buttons
button {
  @include button-reset();
}

// button base styles
.ter-button,
a.ter-button {
  @include button-base();
}

// primary button definitions
@each $color, $value in $button-colors {
  .ter-button--primary--#{$color},
  a.ter-button--primary--#{$color} {
    @include button-primary($value);
  }
}

// secondary button definitions
@each $color, $value in $button-colors {
  .ter-button--secondary--#{$color},
  a.ter-button--secondary--#{$color} {
    @include button-secondary($value);
  }
}

// compact button variant
.ter-button--compact,
a.ter-button--compact {
  height: $button-compact-height;
  line-height: calc(#{$button-compact-height} - (#{$button-border-size * 2}));
}

// block button variant
.ter-button--block,
a.ter-button--block {
  display: block;
  width: 100%;
}

// split button
.ter-split-button {
  position: relative;
  button {
    float: left;
    margin-right: 1px;
    &:first-of-type {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    &:last-of-type {
      margin-right: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      padding-left: 1em;
      padding-right: 1em;
    }
    &:only-of-type {
      margin-right: 0px;
      border-radius: initial;
    }
  }
  .dropdown {
    position: unset;
  }
  .ter-button__icon {
    margin-left: 0px;
  }
}
