/*
 * Terra Design System: v.1.0.0
 * _dropdown.scss
 */

.ter-dropdown {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  &__toggle {
    position: relative;
    &:after {
      @include icon-base;
      content: "\ea41";
      font-size: 6px;
      margin-left: spacing("xxs");
      width: 8px;
      height: 8px;
      transform: translateY(50%);
    }
    // drop right
    [data-direction="right"] & {
      &:after {
        transform: rotate(-90deg);
      }
    }
    // drop left
    [data-direction="left"] & {
      &:after {
        transform: rotate(90deg);
      }
    }
    // drop up
    [data-direction="up"] & {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  &__menu {
    @include depth(1);
    border: $dropdown-border-size solid $dropdown-border-color;
    border-radius: $dropdown-border-radius;
    min-width: 12.5em;
    position: absolute;
    top: calc(100%);
    padding: spacing("xxs") 0;
    left: 0;
    float: left;
    text-align: left;
    list-style: none;
    transform: translate(0px, -10px);
    opacity: 0;
    visibility: hidden;
    background: $dropdown-bg;
    margin: 0;
    transition: transform 225ms, opacity 225ms, visibility 225ms;
    .is-open & {
      visibility: visible;
      opacity: 1;
      transform: translate(0px, 1px);
    }
    // drop right
    [data-direction="right"] & {
      top: 0px;
      left: calc(100%);
      transform: translate(-10px, 0px);
    }
    [data-direction="right"].is-open & {
      transform: translate(1px, 0px);
    }
    // drop left
    [data-direction="left"] & {
      top: 0px;
      left: unset;
      right: calc(100%);
      transform: translate(10px, 0px);
    }
    [data-direction="left"].is-open & {
      transform: translate(-1px, 0px);
    }
    // drop up
    [data-direction="up"] & {
      top: unset;
      bottom: calc(100%);
      left: 0;
      transform: translate(0px, 10px);
    }
    [data-direction="up"].is-open & {
      transform: translate(0px, -1px);
    }
  }
  &__item {
    padding: 0;
    a {
      @include type-setting();
      font-size: $dropdown-item-font-size;
      color: $dropdown-link-color;
      padding: spacing("mini") spacing("xs");
      display: block;
      text-decoration: none;
      &:hover {
        color: darken($dropdown-link-color, 10%);
        background: $dropdown-link-hover-bg;
        text-decoration: none;
      }
    }
    &--separator {
      display: block;
      padding: spacing("xxs") 0 0 0;
      margin-bottom: spacing("xxs");
      border-bottom: 1px solid $dropdown-border-color;
    }
    &--no-link {
      @include type-setting("micro");
      font-weight: font-weight("bold");
      padding: spacing("mini") spacing("xs");
      text-transform: uppercase;
      color: $dropdown-no-link-color !important;
      .is-inverse & {
        color: $dropdown-no-link-color !important;
      }
    }
  }
}
