/**
 * Terra Design System
 * _navbar.scss
 */

// fix for body top-margin
body.has-nav {
  padding-top: $total-navbar-height;
}

// prevent body scrolling when mobile nav is open
body.has-open-nav {
  overflow: hidden;
}

.ter-navbar {
  @include z-index(9);
  height: auto;
  background: $navbar-bg;
  transition: transform 0.5s ease;
  position: relative;
  width: 100%;
  border-bottom: $navbar-border-width solid $navbar-border-color;
  &.has-sub-nav {
    height: auto;
  }
  &.is-fixed {
    position: fixed;
    top: 0;
  }
  &.is-hidden {
    transform: translateY(
      calc(#{($navbar-height + $navbar-border-width) * -1})
    );
  }
  > .container-fluid {
    @include clearfix();
    @include for-size(tablet-landscape-up) {
      display: flex;
      justify-content: space-between;
      width: stretch;
    }
  }
  &__toggle {
    height: $navbar-height;
    float: right;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    @include for-size(tablet-landscape-up) {
      display: none;
    }
    .line {
      width: 25px;
      height: 2px;
      background-color: $navbar-menu-icon-color;
      display: block;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
    }
    &.is-active .line:nth-child(1) {
      transform: translateY(7px);
    }
    &.is-active .line:nth-child(3) {
      transform: translateY(-7px);
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__brand {
    @include type-setting();
    height: $navbar-height;
    display: inline-flex;
    line-height: $navbar-height;
    text-decoration: none;
    [href] {
      display: inline-flex;
      align-items: center;
      color: $navbar-link-color;
      &:hover {
        color: $navbar-link-hover;
        text-decoration: none;
      }
    }
    img {
      height: $navbar-logo-height;
      padding: 0;
    }
  }
  &__nav {
    @include box-shadow(2);
    position: absolute;
    top: $total-navbar-height;
    left: 0;
    width: 100%;
    background: $navbar-bg;
    display: none;
    flex: 1;
    @include for-size(tablet-landscape-up) {
      @include box-shadow("none");
      display: flex;
      width: initial;
      position: static;
      height: calc(#{$navbar-height} - #{$navbar-border-width});
      top: unset;
      left: unset;
      justify-content: flex-end;
    }
  }
  &__menu {
    height: auto;
    padding: spacing("xs") 0;
    margin: 0;
    @include for-size(tablet-landscape-down) {
      display: block;
      width: 100%;
      padding: 0;
      overflow: scroll;
      max-height: 75vh;
    }
    @include for-size(tablet-landscape-up) {
      display: flex;
      align-items: center;
      width: auto;
      padding-top: 0;
      padding-bottom: 0;
      height: $navbar-height;
    }
    &--right {
      margin-left: auto;
    }
    &--left {
      margin-right: auto;
    }
  }
  &__menu-item {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid $navbar-border-color;
    &.is-open {
      > a:not(.ter-button) {
        background-color: $navbar-link-hover-bg;
        &.ter-dropdown__toggle,
        &.ter-mega-menu__trigger {
          &:after {
            color: $navbar-link-color;
          }
        }
      }
    }
    &:last-child {
      border-bottom: 0px;
    }
    @include for-size(tablet-landscape-up) {
      display: inline;
      width: initial;
      padding: 0;
      vertical-align: middle;
      border: 0px;
    }
    > a:not(.ter-button) {
      font-size: $navbar-font-size !important;
      color: $navbar-link-color;
      margin: 0;
      padding-left: var(--outer-margin);
      padding-right: var(--outer-margin);
      padding-top: spacing("xs");
      padding-bottom: spacing("xs");
      text-decoration: none;
      display: inline-block;
      height: $navbar-height;
      line-height: $navbar-height;
      text-transform: $navbar-link-text-transform;
      font-weight: $navbar-link-font-weight;
      position: relative;
      @include for-size(tablet-landscape-up) {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: spacing("sm");
        padding-right: spacing("sm");
      }
      &:hover {
        color: $navbar-link-hover;
        text-decoration: none;
      }
      @include for-size(tablet-landscape-down) {
        display: block;
        line-height: initial;
        height: auto;
      }
    }
    &.ter-dropdown {
      .ter-dropdown__toggle {
        &:after {
          color: color("gray-3");
        }
        @include for-size(tablet-landscape-down) {
          &:after {
            position: absolute;
            right: var(--outer-margin);
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &:hover {
          &:after {
            color: $navbar-link-color;
          }
        }
      }
      .ter-dropdown__menu {
        border: 0px;
        background: $navbar-link-hover-bg;
        @include for-size(tablet-landscape-up) {
          top: calc(#{$navbar-height} - 1px);
        }
        @include for-size(tablet-landscape-down) {
          box-shadow: unset;
          background: transparent;
          position: unset;
          float: unset;
          display: none;
          visibility: visible;
          opacity: 1;
          border: 0px;
          background: transparent;
          border-radius: 0px;
          padding-top: spacing("xxs");
          padding-bottom: spacing("xxs");
          margin: 0;
        }
        a {
          @include for-size(tablet-landscape-down) {
            @include type-setting();
            color: $dropdown-link-color;
            display: block;
            line-height: initial;
            height: auto;
            padding-left: var(--outer-margin);
            padding-right: var(--outer-margin);
            &:hover {
              @include for-size(tablet-landscape-down) {
                color: $dropdown-link-color;
                text-decoration: none;
              }
            }
          }
        }
        .ter-dropdown__item--no-link {
          @include for-size(tablet-landscape-down) {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
      &.is-open {
        .ter-dropdown__menu {
          @include for-size(tablet-landscape-down) {
            display: block;
          }
        }
      }
    }
  }
  &.is-hidden {
    transform: translateY(-100%);
  }
}

// secondary navbar
.ter-secondary-navbar {
  @include z-index(9);
  height: auto;
  background: $navbar-bg;
  transition: transform 0.5s ease;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: stretch;
  border-bottom: $navbar-border-width solid $navbar-border-color;
  transform: translateY(-100%);
  &.is-shown {
    transform: translateY(0);
  }
}

// universal header
.ter-navbar {
  &__universal-header {
    height: $navbar-universal-height;
    display: flex;
    background-color: color("white");
    .container-fluid {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-direction: row;
      @include for-size(tablet-landscape-up) {
        justify-content: flex-start;
        flex-direction: row;
      }
    }
    .trimble-logo {
      width: auto;
      display: inline-flex;
      align-items: center;
      svg {
        width: auto;
        height: 16px;
        fill: #005f9e;
      }
    }
    .trimble-login {
      display: inline-flex;
      align-items: center;
      font-size: type-scale("micro");
      @include for-size(tablet-landscape-up) {
        margin-left: spacing("xs");
      }
      .account-dropdown {
        height: 16px;
        &__toggle {
          height: 16px;
          padding: 0 spacing("xs") 0 0;
          &:after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 0;
            color: color("gray-6");
          }
          &:hover {
            cursor: pointer;
          }
        }
        &__menu {
          left: unset;
          right: 0;
          top: calc(100% + 8px);
        }
        &__user-icon {
          display: inline-block;
          width: auto;
          height: 16px;
          margin-right: spacing("mini");
          svg {
            height: 16px;
            stroke: #005f9e;
          }
        }
      }
      .js-username {
        display: none;
      }
      .js-logged-in,
      .js-logged-out {
        height: 16px;
        line-height: 16px;
        display: none;
      }
      > a {
        font-size: type-scale("micro");
        font-weight: font-weight("bold");
        display: inline-block;
      }
    }
  }
}
