.ter-pagination {
  &__list {
    @include list-inline();
    margin-top: spacing("xs");
    margin-bottom: spacing("xs");
    display: flex;
    text-align: center;
    justify-content: center !important;
    > li {
      margin-right: 0;
    }
  }
  &__list-item {
    margin: 0;
    padding: 0;
    a,
    > span {
      padding: spacing("mini") spacing("xxs");
      margin: 0;
      text-decoration: none;
      i {
        font-size: 75%;
      }
      &:hover {
        border-bottom: 2px solid darken($pagination-hover-border-color, 10%);
      }
    }
    &--previous {
      a:after {
        @include icon-base();
        content: "\ea42";
        font-size: 16px;
        height: 16px;
        width: 16px;
      }
    }
    &--next {
      a:after {
        @include icon-base();
        content: "\ea47";
        font-size: 16px;
        height: 16px;
        width: 16px;
      }
    }
    &:not(:first-child):not(:last-child) {
      a,
      > span {
        border-radius: 0px;
        border-right: 0px;
      }
    }
    &:first-child:not(:only-of-type) {
      a,
      > span {
        border-right: 0;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
    &:last-child:not(:only-of-type) {
      a,
      > span {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
    &.is-active {
      a,
      span {
        border-bottom: 2px solid $pagination-active-border-color;
        &:hover {
          border-bottom: 2px solid $pagination-active-border-color;
        }
      }
    }
  }
}
